@{
    ViewData["Title"] = "Home Page";
}


    <!-- <h1 class="display-4">Welcome</h1> -->
    <!-- <img src="css/logo.png" /> -->

    <div class="animated-container">
        <div class="floating-element">
            <h1>Welcome!</h1>
            <p>Hello from group 2</p>
        </div>
    </div>
    
    
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
